-----BEGIN CERTIFICATE-----
MIIDLjCCAhYCCQC4S24bUYTeuDANBgkqhkiG9w0BAQsFADBZMQswCQYDVQQGEwJB
VTETMBEGA1UECBMKU29tZS1TdGF0ZTEhMB8GA1UEChMYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMRIwEAYDVQQDEwlsb2NhbGhvc3QwHhcNMTgwMjI2MDgxMjMxWhcN
MjgwMjI0MDgxMjMxWjBZMQswCQYDVQQGEwJBVTETMBEGA1UECBMKU29tZS1TdGF0
ZTEhMB8GA1UEChMYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMRIwEAYDVQQDEwls
b2NhbGhvc3QwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDBQQnv3Z6/
gk8VQjVVYHN+rUz9VOngs1KXkrBbavVOJ75KhQnd5O9k/CdEEmggwS70LOTItZP7
DT2y9WcYWpwQld/pXQwIC3/vobT89l8H/9U7ZlJ5WHSpHDt4ytJ62B8I3IfvmnuI
cFqOdTsJNXqrjwY//TkAQoa5UV5s4eayA5DvZh1aecjrvs+pzDHO+qZI88LV2OcK
XFqGdhcJAgOzBuvHMea17ix0ajSsXgMot6nqnaWDRpbmYgznUgvE3EMlbgz+Ov8/
MayphbpYCr21YL6oLxNKrtG/GrKG3R17jomRolI2np6ibMfvPOuVwvL2LWSMVp6I
JZ+ZbOQz9DqvAgMBAAEwDQYJKoZIhvcNAQELBQADggEBAHApDt8BpbVzT3OIaneY
vc8Zk/Rxvjf3CMh7SRNIepvFapt1UklXpNh5sVI6BfENbtoXgdNF16yLZ/sIlyFv
jy3qGgukHHoy3faqlmHFlEZl9p5LOQTzyYpiIBnvI29LjLVr96d6Wvw3Vb1WDSpw
SCKOTXpsaOv33eHIvjz/YMfmi3HHPD7RKDq2/EW+UvNEt+WMAFlaLFW17Xcxejzv
KgX6F9Z4Icnlnp/gO4k4JeYeL8X+A5J2pxjkWsnM3AWm6Q/9AKFdnX9T3eRe/QUg
lwZFt6JtrU3zNNG2KTyRqmMsaYY3M8MK9U/FITJyi4ciwjOU00vyhP3Im9U6NlXG
sv0=
-----END CERTIFICATE-----
